#legend {
    position: absolute;
    top: 10px;
    left: 10px;
    font-family: Arial, sans-serif;
}

.legend-item {
margin-bottom: 5px;
}

.legend-color {
display: inline-block;
width: 20px;
height: 20px;
margin-right: 5px;
}